
.textfield {
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    color: #404040;
    width: 100%;
    background-color: #fff;
    -webkit-appearance: none;
}