.company__avatar {
  display: flex;

  /* make a square container */
  width: 80px;
  height: 80px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: top center;

  border: 1px solid;
  border-radius: 50%;

  margin-top: 1rem;
  margin-bottom: 1rem;
}